body{
	margin:0;
}
ul{
	-webkit-padding-start: 0px
}
/*Header section*/
#header{
	background-color: #f78621;
	color:#FFF;
}
#header-inner{
	height:60px;
}
#logo{
	/*font-family: 'Tangerine',"fertigo-script-1","fertigo-script-2", arial, serif;*/
/*	font-family:"delve-hand-1","delve-hand-2", arial, serif;*/
/*	font-family: "natalya-1","natalya-2", arial, serif;*/
	font-family: "caflisch-script-pro-1","caflisch-script-pro-2", arial, serif;
	font-size: 3.4em;
	padding-top:8px;
	color:#000;
	display:block;
	height:50px;
	line-height:50px;
}

/*Navigation Menu*/
#menu{
	color:#fff;
	font-size: 1.5em;
	height:1.5em;
	line-height:1.5em;
}

ul#menu{
	margin:0;
	list-style: none;
	padding:15px 0 0 0;
}
#menu li{
	display: inline;
	margin:0;
	height:1.5;
	line-height:1.5em;
}

#menu a{
	color:#FFF;
	display: inline-block;
	padding: 0px 30px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.5em;
	font-weight: bold;
}
#menu a:hover{
	text-decoration: underline;
}

/*Main Content Section*/
#content {
	background: #747836 url('../images/ist2_9239828-seamless-pattern-with-paisley.jpg') repeat;
}

#content-inner{
	background-color:#FFF;
}

/*Footer Section*/
#footer{
	background-color:#84DC24;
}
#footer-inner{
	height:25px; 
	padding-top:10px; 
	background-color:#84DC24; 
	color:#fff;
}

/*General Styles*/
.cl{text-align: center;}
.c2a {
	margin-top:20px;
	float:right;
/*	background-color: #d0f1fb;*/
/*	background-color:#f39dc2;*/
	background-color:#84DC24;
/*	background-color:#f78621;*/
	border: 1px solid #999;
	padding:5px;
	color:#FFF;
}
span.black{
		color:#000;
}
.c2a h2{
	font-family: "lemonde-sans-1","lemonde-sans-2",sans-serif;	
	margin-bottom:0px;
}
.c2a h3{
	margin-top:5px;
		color:#FFF;
}
.c2a p{
	font-family: "lemonde-sans-1","lemonde-sans-2",sans-serif;	
}
.welcome{
}
.welcome h1{
	/*	typekit font */
	font-family: "lemonde-sans-1","lemonde-sans-2",sans-serif;	
	
	margin-bottom:0px;
	font-size:3.2em;
	font-weight: bold;
}
.welcome h2{
	/*	typekit font */
	font-family: "lemonde-sans-1","lemonde-sans-2",sans-serif;	
	
	margin-top:0px;
	font-size:1.8em;
	font-weight: bold;
}
.welcome p{
	font-size:1.5em;
	line-height:1.8em;
}
.welcome-image img{
	margin-top:20px;
	margin-left:35px;
}
/*day meal*/
.day-meal h3{
	border-top: 7px solid #84DC24;
	padding-top:10px;
}
.day-meal ul{list-style-type: none;}
img.float-left{
	float:left;
	margin:20px;
}
.about p{
	font-size:1.5em;
	line-height:1.6em;
}
.larger{
	font-size:1.5em;
}
