<div class="grid_16">
	<h1>About Us</h1>
	<p>Alexis Goodson has spent her adult life cooking for friends and family.  She specializes in full flavor, healthy cuisine as well as comfort foods.  She was schooled  at the esteemed Culinary Institute of America in Napa Valley and private cooking academy, Tante Marie, in San Francisco.    Alexis currently lives in San Antonio, Texas with her husband and 3 young children.</p>
</div>
<br class="clear"/>