<div class="grid_16 about">
	<h1>About Me</h1>
	<%=image_tag "me.jpg", {:alt=>"Me", :class=>"float-left"}%>
	<p>I come from a family that loves to cook! When I was a little girl, my grandparents lived in Ft. Worth
	and when we were about 20 miles outside the city, we would start imagining what my they
	would be serving for dinner. They had a garden full of vegetables and fruits and within minutes of our
	arrival, my sister and I would race to the garden to see what was ready to be picked. </p>
	<p>Visiting my dad in California one year, I had the good fortune to attend the Culinary Institute of America in Napa Valley
	and the private cooking academy, Tante Marie, in San Francisco. Later, while living in Houston, I cooked
	full-time for a family and dreamed about one day opening a sandwich shop called The Pickle. </p>
	<p>Today
		my husband and I are busy raising three children, but my dream of cooking professionally has always
		been in the back of my mind. Finding the long-lost recipe for my Grammy’s pickles has spurred me on to
		finally start my new business, In A Pickle Catering. I look forward to sharing my love of cooking with you.
	</p>
	</div>
<br class="clear"/>