<div class="grid_6">
	<div class="welcome-image">
		<%= image_tag "iaplogofull.png", {:alt => "logo"}%>
	</div>
</div>
<div class="grid_10 welcome">
	<h1>Home Cooked Meals</h1>
	<h2>delivered right to your doorstep</h2>
	<p>
		Are you a <strong>busy family</strong> that doesn't have a lot of time to grocery shop, 
		cook, and clean up after a long, grueling day??  If so, <strong>let me do all 
		the 'dirty' work for you.</strong>  Home-cooked meals delivered right to your doorstep.  
		<strong>No mess, no fuss!</strong>
		</p>
		<div class="c2a">
			<%= image_tag "c2a.png", {:alt => "Call Us"}%>
			<br/>
			<em><a href="mailto:kevin@qtechnologycompany.com">Or Email Me :)</a></em>
		</div>
</div>
<br class="clear"/>
<div class="grid_4 day-meal">
	<h3><strong>Monday</strong></h3>
	<h4>Chicken and Roasted Corn Enchiladas or Stuffed Bell Peppers
	</h4>
	<h5>Your Choice of Sides (pick 2):</h5>
	<ul>
		<li>Mexican Rice</li>
		<li>Refried Beans</li>
		<li>Black Beans</li>
		<li>Guacamole and Chips</li>
		<li>Queso and Chips</li>
	</ul>
	<h5>Fresh Green Salad:</h5>
	<ul>
		<li>Southwestern</li>
		<li>Greek Caesar</li>
		<li>Balsamic Vinaigrette</li>
		<li>Honey Mustard</li>
	<ul>
</div>
<div class="grid_4 day-meal">
	<h3><strong>Tuesday</strong></h3>
	<h4>Turkey Meatloaf</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<ul>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
	</ul>
</div>
<div class="grid_4 day-meal">
	<h3><strong>Wednesday</strong></h3>
	<h4>Title of meal</h4>
	<p>Description (optional) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<h5>Custom Description</h5>
	<ul>
		<li>Side 1</li>
		<li>Side 2</li>
		<li>Side 3</li>
		<li>Side ...</li>
	</ul>
	<h5>Custom Description:</h5>
	<ul>
		<li>Dressing 1</li>
		<li>Dressing 2</li>
		<li>Dressing 3</li>
		<li>Dressing ...</li>
	<ul>
</div>
<div class="grid_4 day-meal">
	<h3><strong>Thursday</strong></h3>
	<h4>Fish and Chips</h4>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<ul>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
	</ul>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</div>
<br class="clear"/>