<div class="grid_6">
	<div class="welcome-image">
		<%= image_tag "iaplogofull.png", {:alt => "logo"}%>
	</div>
</div>
<div class="grid_9 suffix_1 welcome">
	<h1>Home Cooked Meals</h1>
	<h2>delivered right to your <span class="smaller">*</span>doorstep</h2>
	<p>
		Do you have a <strong>busy family</strong> that doesn't have a lot of time to grocery shop, 
		cook, and clean up after a long, grueling day?  If so, <strong>let me do all 
		the work for you!</strong>  Home-cooked meals delivered right to your doorstep.  
		<strong>No mess, no fuss!</strong>
	</p>
</div>
<br class="clear"/>
<div class="grid_6 special-meal">
	<p> 
	<strong>Purchase one of my pre-made casseroles! </strong>
	Just pop in the oven, and dinner is served!
	</p>
<p>$40 Each and Feeds 8 Adults</p>

	<ul>
		<li>King Ranch Chicken</li>
		<li>Lasagna</li>
		<li>Sausage Egg and Cheese Breakfast Casserole</li>				
	</ul>
	<p>Order must be placed 3 days in advance!
	Smaller and/or larger portions available.</p>

</div>
<div class= "grid_9 suffix_1">
	<div class="c2a">
		<h1></h1>
		<h2>Call (210) 872-5310 to place your order today!</h2>
		<h3>Special requests are welcome</h3>
	</div>


	<div class="grid_4 alpha under">
		<img src="../images/pickles.jpg" width="200"  alt="Pickles">
	</div>
	<div class="grid_5 omega under">
		<ul>
			<li>Grammy's Sweet & Spicy Pickles $10.00</li>
			<li>Rosemary & Thyme Olive Oil $7.00</li>
			<li>Pickled Jalapenos $8.00</li>
			<li>Herb Dipping Oil (great for bread dipping and marinating!!) $8.00</li>			
		</ul>
	</div>
</div>
<br class="clear"/>
	<div class="grid_5 day-meal"> 
  	<h3><strong>January 4th</strong></h3> 
  	<h4><strong>Chicken Enchiladas with Verde Sauce</strong></h4> 
  	<h5>Corn Tortillas filled with chicken, cheese, chiles, topped with a spicy green sauce, served with sour cream on the side</h5>
  	<h5>Spanish Rice</h5>
  	<h5>Guacamole Salad</h5>
  </div> 
  <div class="grid_5 day-meal"> 
  	<h3><strong>January 6th</strong></h3> 
  	<h4><strong>Roasted Bone in Chicken with Herbs, Garlic and Lemon</strong></h4> 
  	<h5>Roasted Garlic and Parmesan Mashed Potatoes</h5>
  	<h5>Grilled Asparagus</h5>
  </div>
<div class="grid_5 day-meal"> 
	<h3><strong>Available Anytime</strong></h3> 
	<h4><strong></strong></h4> 
	
	<h5>Sides - 7.95 per 24 ounce</h5> 
	<ul> 
			<li>Mac N' Cheese</li> 
			<li>Mashed Potatoes</li> 
			<li>Cheesy Chicken and Rice</li> 
			<li>Spaghetti with Turkey Meatballs</li> 
			<li>Chicken Salad with Slivered Almonds and Cranberries</li> 
	</ul> 
	
	<h5>Soups - 9.95 per Quart</h5> 
	<ul> 
			<li>Chicken Tortilla Soup</li> 
			<li>Creamy Cauliflower Soup</li> 		
			<li>Homemade Chicken Noodle</li> 
			<li>Tomato Basil Soup</li> 
		
	</ul>
	<h5><strong>Try our soup, salad and homemade bread combo for only 17.95</strong></h5>	 
</div>
<br class="clear"/>
<div class="grid_16">
	<div class="cl">
		<p><span class="larger">$30.00 +tax/Meal Feeds 2-3 ($10 each additional person)</span></p>
		<p><strong>Don't forget to ask about Grammy's Sweet & Spicy Pickles</strong></p>
		<p class="smaller">*limited delivery area</p>
	</div>
</div>
<br class="clear" />