<div class="grid_6">
	<div class="welcome-image">
		<%= image_tag "iaplogofull.png", {:alt => "logo"}%>
	</div>
</div>
<div class="grid_9 suffix_1 welcome">
	<h1>Home Cooked Meals</h1>
	<h2>&nbsp;</h2>
	<p>
		Do you have a busy family that doesn't have a lot of time to grocery shop and cook after a long day?  If so, let me be your personal chef!  Home-cooked meals,<strong>No mess, no fuss!</strong> 
	</p>
</div>
<br class="clear"/>
<!-- <div class="grid_6 special-meal">
	<p> 
	<strong>Purchase one of my pre-made casseroles! </strong>
	Just pop in the oven, and dinner is served!
	</p>
<p>$50 Each and Feeds 8 - 10 Adults</p>

	<ul>
		<li>King Ranch Chicken</li>
		<li>Lasagna</li>
		<li>Sausage Egg and Cheese Breakfast Casserole</li>				
	</ul>
	<p>Order must be placed 3 days in advance!
	Smaller and/or larger portions available. </p> 
	<p>Homemade Bread, Salad, and Dessert can be added on to any casserole.  Call for details!</p>

</div> -->
<div class= "grid_15 suffix_1">
	<div class="grid_4 alpha under">
		<img src="../images/pickles.jpg" width="200"  alt="Pickles">
	</div>
	<div class="grid_5 omega under">
		<ul><strong>Some Customer Favorites are:</strong>
			<!-- <li>Grammy's Sweet & Spicy Pickles $10.00</li>
			<li>Mango Jalapeno Ginger Jelly $10.00</li> -->
			<li>Grilled Pesto Chicken</li>
			<li>Pulled Pork Tacos </li>
			<li>Pot Roast with Cabernet Gravy </li>
			<li>King Ranch Chicken</li>
			<li>Fajita</li>
			<li>Lasagna  </li>
			<li>Low-Carb and Low-Fat options are available, as well! </li>
			<!-- <li>Raspberry Chipotle Jelly $10.00</li>			 -->
		</ul>
	</div>

	<div class="c2a">
		<h1></h1>
		<h2>Call 210-872-5310 today!</h2>
		<h3>Special Requests Welcome</h3>
	</div>
</div>
<br class="clear"/>
<div class="grid_10">
  <div class="grid_5 alpha day-meal"> 
		<h3><strong></strong></h3>
		<h4><strong>Lasagna with Sausage Marinara</strong></h4>
    <h5>Caesar Salad with Homemade Dressing & Croutons</h5>
    <h5>Garlic Bread</h5>
  </div>
  <div class="grid_5 omega day-meal">     	
		<h3><strong></strong></h3>
  	<h4><strong>Grilled Chicken topped with Goat Cheese, Sundried Tomatoes, and Basil</strong></h4> 		
    <h5>Sauteed Spinach with Garlic</h5>
    <h5>Roasted New Potatoes</h5>
  </div>
  <br class="clear"/>
  <div class="grid_5 alpha day-meal"> 
		<h3><strong></strong></h3>
		<h4><strong>Beef Stroganoff</strong></h4>		
    <h5>Buttered Egg Noodles</h5>
    <h5>Garden Salad</h5>
  </div>
  <div class="grid_5 omega day-meal"> 	
		<h3><strong></strong></h3>
    <h4><strong>Cinnamon and Soy Glazed Pork Tenderloin</strong></h4>			
    <h5>Mashed Potatoes</h5>
    <h5>Asparagus</h5>		
  </div>
</div>
<div class="grid_5 day-meal"> 
	<h3><strong>Available Anytime</strong></h3> 
	<h4><strong></strong></h4> 
	<h5>Sides $7.95</h5> 
	<ul> 
			<li>Mac N' Cheese</li> 
			<li>Mashed Potatoes</li> 
			<li>Baked Chicken Nuggets (8)</li> 
	</ul> 
	
	<h5>Sides $12.00</h5> 
	<ul> 
    <li>Cheesy chicken and rice</li>
    <li>Tortellini with marinara or Alfredo</li>
    <li>Spaghetti and meatballs</li>
	</ul>
	<h5><strong>Try our soup, salad and homemade bread combo for only $25</strong></h5>	 
</div>
<br class="clear"/>
<div class="grid_16">
	<div class="cl">
		<p><span class="larger"> <strong>$40.00 + tax per meal for 2 adult portions, 10$ each additional adult</strong></span></p>
    <!-- <p><span class="larger"> <strong>Through June 1st, we are offering a SPECIAL!!  For 100$, you get 4 meals, that's a 20$ savings!! </strong></span></p> -->
		<p>Homemade bread and/or dessert are available with any meal for $5.00 each!</p>
		<!-- <p><strong>Don't forget to ask about Grammy's Sweet & Spicy Pickles</strong></p> -->
		<p class="smaller"></p>
	</div>
</div>
<br class="clear" />