<div class="grid_6">
	<div class="welcome-image">
		<%= image_tag "iaplogofull.png", {:alt => "logo"}%>
	</div>
</div>
<div class="grid_9 suffix_1 welcome">
	<h1>Home Cooked Meals</h1>
	<h2>delivered right to your <span class="smaller">*</span>doorstep</h2>
	<p>
		Do you have a <strong>busy family</strong> that doesn't have a lot of time to grocery shop, 
		cook, and clean up after a long, grueling day?  If so, <strong>let me do all 
		the work for you!</strong>  Home-cooked meals delivered right to your doorstep.  
		<strong>No mess, no fuss!</strong>
	</p>
</div>
<br class="clear"/>
<div class="grid_6 special-meal">
	<h3><strong>Holiday Specials</strong></h3>
	<h4>Company visiting for the holidays?</h4>
	<p> 
	<strong>Purchase one of my pre-made casseroles! </strong>
	Just pop in the oven, and dinner is served!
	</p>
<p>$40 Each and Feeds 8 Adults</p>

	<ul>
		<li>King Ranch Chicken</li>
		<li>Lasagna</li>
		<li>Sausage Egg and Cheese Breakfast Casserole</li>				
	</ul>
	<p>Order must be placed 3 days in advance!
	Smaller and/or larger portions available.</p>

</div>
<div class= "grid_9 suffix_1">
	<div class="c2a">
		<h1></h1>
		<h2>Call (210) 872-5310 to place your order today!</h2>
		<h3>Special requests are welcome</h3>
	</div>
</div>
<br class="clear"/>
<div class="grid_5 day-meal"> 
	<h3><strong>November 16th</strong></h3> 
	<h4><strong>Pesto Chicken Florentine</strong></h4> 
	<h5>Penne Pasta with Spinach topped with a Creamy Pesto Sauce and Chicken Breast</h5>
	<h5>French Bread</h5>
	<h5>Romaine Salad with Choice of Dressing</h5>
</div> 
<div class="grid_5 day-meal"> 
	<h3><strong>November 18th</strong></h3> 
	<h4><strong>Baked Tilapia with Dill Sauce</strong></h4> 
	<h5>Baked tilapia seasoned with Cajun and citrus served with a creamy sauce of fresh dill and lemon</h5> 
	<h5>Wild Rice</h5>
	<h5>Steamed Veggies (Broccoli, Carrots, and Cauliflower)</h5>
</div> 
 
<div class="grid_5 day-meal"> 
	<h3><strong>Available Anytime</strong></h3> 
	<h4><strong></strong></h4> 
		
	<h5>Sides - 7.95 per 24 ounce</h5> 
	<ul> 
		
			<li>Mac N' Cheese</li> 
		
			<li>Mashed Potatoes</li> 
		
			<li>Cheesy Chicken and Rice</li> 
		
			<li>Spaghetti with Turkey Meatballs</li> 
			<li>Chicken Salad with Slivered Almonds and Cranberries</li> 
		
	</ul> 
	<h5>Soups - 9.95 per Quart</h5> 
	<ul> 
			<li>Chicken Tortilla Soup</li> 
			<li>Baked Potato Soup</li> 		
			<li>Homemade Chicken Noodle</li> 
			<li>Beer Cheese Soup</li> 
		
	</ul>
	<h5><strong>Try our soup, salad and homemade bread combo for only 17.95</strong></h5>	 
</div>
<br class="clear"/>
<div class="grid_16">
	<div class="cl">
		<p><span class="larger">$30.00 +tax/Meal Feeds 2-3 ($10 each additional person)</span></p>
		<p><strong>Don't forget to ask about Grammy's Sweet & Spicy Pickles - 9.95 per 16 ounce jar.</strong></p>
		<p class="smaller">*limited delivery area</p>
	</div>
</div>
<br class="clear" />