<div class="grid_6">
	<div class="welcome-image">
		<%= image_tag "iaplogofull.png", {:alt => "logo"}%>
	</div>
</div>
<div class="grid_9 suffix_1 welcome">
	<h1>Home Cooked Meals</h1>
	<h2>delivered right to your <span class="smaller">*</span>doorstep</h2>
	<p>
		Do you have a <strong>busy family</strong> that doesn't have a lot of time to grocery shop, 
		cook, and clean up after a long, grueling day?  If so, <strong>let me do all 
		the work for you!</strong>  Home-cooked meals delivered right to your doorstep.  
		<strong>No mess, no fuss!</strong>
	</p>
</div>
<br class="clear"/>

<div class= "prefix_6 grid_9 suffix_1">
	<div class="c2a">
		<h1></h1>
		<h2>Call (210) 872-5310 to place your order today!</h2>
		<h3>Special requests are welcome</h3>
	</div>
</div>
<br class="clear"/>

<div class="grid_5 day-meal"> 
	<h3><strong>October 26th</strong></h3> 
	<h4><strong>Rosemary Chicken</strong></h4> 
	<p>Roasted bone-in chicken breast with new potatoes and cremini mushrooms.</p>
	<h5>Roasted New Potatoes</h5>
	<h5>Grilled Asparagus</h5>
	<h5>Garden Salad</h5>
</div> 
 
<div class="grid_5 day-meal"> 
	<h3><strong>October 28th</strong></h3> 
	<h4><strong>Beef Fajita Tacos</strong></h4> 
	<h5>Refried Black Beans</h5> 
	<ul>
		<li>Grilled Onions</li>
		<li>Flour or Corn Tortillas</li>
		<li>Pico De Gallo</li>
		<li>Shredded Cheese</li>
		<li>Sour Cream</li>
		<li>Guacamole Salad</li>
	</ul>
	
</div> 
 
<div class="grid_5 day-meal"> 
	<h3><strong>Available Anytime</strong></h3> 
	<h4><strong></strong></h4> 
		
	<h5>Sides - 7.95 per 24 ounce</h5> 
	<ul> 
		
			<li>Mac N' Cheese</li> 
		
			<li>Mashed Potatoes</li> 
		
			<li>Cheesy Chicken and Rice</li> 
		
			<li>Spaghetti with Turkey Meatballs</li> 
		
			<li>Chicken Salad with Slivered Almonds and Cranberries</li> 
		
	</ul> 
	<h5>Soups - 9.95 per Quart</h5> 
	<ul> 
		
			<li>French Onion</li> 
		
			<li>Homemade Chicken Noodle</li> 
		
			<li>Minestrone with Pasta, Beans and Vegetables</li> 
		
			<li>Beer Cheese Soup</li> 
		
	</ul>
	<h5><strong>Try our soup, salad and homemade bread combo for only 17.95</strong></h5>	 
</div>
<br class="clear"/>
<div class="grid_16">
	<div class="cl">
		<p><span class="larger">$30.00 +tax/Meal Feeds 2-3 ($10 each additional person)</span></p>
		<p><strong>Don't forget to ask about Grammy's Sweet & Spicy Pickles - 9.95 per 16 ounce jar.</strong></p>
		<p class="smaller">*limited delivery area</p>
	</div>
</div>
<br class="clear" />