<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>In a Pickle Catering LLC.</title>
	<%= stylesheet_link_tag :all %>
	<link href='http://fonts.googleapis.com/css?family=Tangerine:regular,bold' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://use.typekit.com/nhb6xsn.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
</head>

<body class="tk-fertigo-script">
<div id="header">
	<div id="header-inner" class="container_16">
		<div class="grid_6">
			<span id="logo">In a Pickle Catering</span>
		</div>
		<ul id="menu" class="grid_10">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Menu</a></li>
		</ul>
	</div>	
</div>
<div id="content">
	<div id="content-inner" class="container_16">
		<div class="grid_6">
			<div class="welcome-image">
				<%= image_tag "iaplogofull.png", {:alt => "logo"}%>
			</div>
		</div>
		<div class="grid_10 welcome">
			<h1>Home Cooked Meals</h1>
			<h2>delivered right to your doorstep</h2>
			<p>
				Are you a <strong>busy family</strong> that doesn't have a lot of time to grocery shop, 
				cook, and clean up after a long, grueling day??  If so, <strong>let me do all 
				the 'dirty' work for you.</strong>  Home-cooked meals delivered right to your doorstep.  
				<strong>No mess, no fuss!</strong>
				</p>
				<div class="c2a">
					<%= image_tag "c2a.png", {:alt => "Call Us"}%>
					<br/>
					<em><a href="mailto:kevin@qtechnologycompany.com">Or Email Me :)</a></em>
				</div>
		</div>
		<br class="clear"/>
		<div class="grid_4 day-meal">
			<h3><strong>Monday</strong></h3>
			<h4>Baked Ziti</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="grid_4 day-meal">
			<h3><strong>Tuesday</strong></h3>
			<h4>Turkey Meatloaf</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<ul>
				<li>item 1</li>
				<li>item 2</li>
				<li>item 3</li>
			</ul>
		</div>
		<div class="grid_4 day-meal">
			<h3><strong>Wednesday</strong></h3>
			<h4>Roast Beaf and Carrots</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div class="grid_4 day-meal">
			<h3><strong>Thursday</strong></h3>
			<h4>Fish and Chips</h4>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<ul>
				<li>item 1</li>
				<li>item 2</li>
				<li>item 3</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
		</div>
		<br class="clear"/>
	</div>	
</div>
<div id="footer">
	<div id="footer-inner" class="container_16">
		<span class="grid_16 cl">footer</span>
	</div>	
</div>

</body>
</html>

